<header class="header">
    <div class="header__container">
        <nav class="header__left-menu">
            <div class="left-menu__item">Sega</div>
            <div class="left-menu__item">Nintendo</div>
            <div class="left-menu__item">Игры</div>
            <div class="left-menu__item">О нас</div>
        </nav>
        <img src="../../assets/images/logo.svg" alt="" class="header__logo">
        <nav class="header__right-menu">
            <div class="right-menu__item">
                <img class="phone-icon" src="../../assets/images/phone-icon.svg" alt="">
                <div class="phone-number">343-342</div>
            </div>
            <div class="right-menu__item">
                <img class="cart-icon" src="../../assets/images/cart-icon.svg">
            </div>
            <div class="right-menu__item">
                <img class="user-icon" src="../../assets/images/user-icon.svg">
            </div>
        </nav>
    </div>

</header>