.header {
    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.12);
}

.header__container {
    padding: 12px 0 24px 0;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: Oswald;
    font-size: 20px;
    color: #323232;
}

.header__left-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 355px;
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 184px;
}

.left-menu__item {
    &:visited {
        color: #323232;
    }
    &:hover {
        color: #FFD550;
    }
    &:active {
        color: #EFCF6B;
    }
}

.header__logo {
    width: 64px;
    height: 84px;
    margin-right: 265px;
}

.header__right-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 270px;
    margin-top: 13px;
}

.phone-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone-icon {
    margin-right: 25px;
}

.phone-link {
    margin-right: 57px;
    &:visited {
        color: #323232;
    }
    &:hover {
        color: #FFD550;
        path {
            fill: #FFD550;
        }
        path+path {
            fill: #FFD550;
        }
    }
    &:active {
        color: #EFCF6B;
        path {
            fill: #EFCF6B;
        }
        path+path {
            fill: #FFD550;
        }
    }
}

.cart-link {
    margin-right: 25px;
}

.cart-icon,
.user-icon {
    &:hover {
        path {
            fill: #FFD550;
        }
    }
    &:active {
        path {
            fill: #EFCF6B;
        }
    }
}