<div class="consoles">
    <div class="consoles-header">
        <div class="consoles-header__left"></div>
        <div class="consoles-header__text">ИГРОВЫЕ КОНСОЛИ</div>
        <div class="consoles-header__right"></div>
    </div>
    <div class="consoles-sega">
        <img src="../../assets/images/SEGA-logo.svg" alt="" class="consoles-sega__header">
        <div class="consoles-card">
            <img src="../../assets/images/sega-saturn.svg" alt="" class="consoles-card__img">
            <div class="consoles-card__header">SEGA SATURN</div>
            <div class="consoles-card__text">Игровая приставка с разрядностью 32 бита. Она была выпущена 22 ноября 1994 года в Японии, в мае в США и 8 июля 1995 года в Европе</div>
            <div class="consoles-card__bottom">
                <div class="consoles-card__price">Цена <span class="price-thick">от 9.000</span></div>
                <div class="cosoles-card__button">Выбрать</div>
            </div>
        </div>

    </div>
    <div class="consoles-nintendo">
        <img class="consoles-nintendo__header">
        <div class="consoles-card">
            <img src="" alt="" class="consoles-card__img">
            <div class="consoles-card__header"></div>
            <div class="consoles-card__text"></div>
            <div class="consoles-card__bottom">
                <div class="consoles-card__price"><span class="price-thick"></span></div>
                <div class="cosoles-card__button"></div>
            </div>
        </div>

    </div>

</div>