.consoles {
    padding-top: 105px;
}

.consoles-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
}

.consoles-header__left {
    width: 538px;
    height: 3px;
    background: #FDB433;
}

.consoles-header__text {
    font-family: Oswald;
    font-weight: 600;
    font-size: 36px;
}

.consoles-header__right {
    width: 538px;
    height: 3px;
    background: #FDB433;
}

.consoles-sega {
    display: flex;
}

.consoles-sega__header {
    margin: 0 auto;
}

.consoles-card {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 30px;
}

.consoles-card__img {
    width: 305px;
    height: 201px;
}

.consoles-card__header {
    font-family: Oswald;
    font-size: 18px;
    color: #323232;
}

.consoles-card__text {
    font-family: Nunito;
    font-size: 14px;
    line-height: 18px;
    color: #5E6572;
}

.consoles-card__bottom {}

.consoles-card__price {
    font-family: Nunito;
    font-size: 14px;
    color: #5E6572;
}

.price-thick {
    font-weight: 700;
}

.cosoles-card__button {
    width: 113px;
    height: 37px;
    background: #FFD44F;
    border-radius: 4px;
    font-family: Nunito;
    font-weight: 600;
    font-size: 14px;
    color: #364052;
}

.consoles-nintendo {}

.consoles-nintendo__header {}