/* You can add global styles to this file, and also import other style files */

//Точки для слайдера
.dot-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: Open Sans;
    font-size: 16px;
    color: #D1D1D1;
}

.dot-item li button {
    font-family: Open Sans;
    font-size: 16px;
    color: #D1D1D1;
    background: none;
    //line-height: 22px;
}

.dot-item li.slick-active button {
    font-size: 24px;
    color: #454545;
    line-height: 30px;
}

.dot-item li:first-child::after {
    content: "/";
    font-size: 16px;
    color: #D1D1D1;
}

//Шрифты
@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/OswaldRegular/OswaldRegular.eot");
    src: url("./assets/fonts/OswaldRegular/OswaldRegular.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/OswaldRegular/OswaldRegular.woff") format("woff"), url("./assets/fonts/OswaldRegular/OswaldRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Regular'), local('Nunito-Regular'), url('./assets/fonts/NunitoRegular/Nunitoregular.woff2') format('woff2'), url('./assets/fonts/NunitoRegular/Nunitoregular.woff') format('woff'), url('./assets/fonts/NunitoRegular/Nunitoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSemibold';
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url('./assets/fonts/NunitoSemibold/Nunitosemibold.woff2') format('woff2'), url('./assets/fonts/NunitoSemibold/Nunitosemibold.woff') format('woff'), url('./assets/fonts/NunitoSemibold/Nunitosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

.bigred {
    font-size: 20px;
    color: red;
}